<h1>
  Edit state #<%= @state.id %>
</h1>

<hr>

<form action="/update_state/<%= @state.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @state.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update state
  </button>
</form>

<hr>

<a href="/states">
  Go back
</a>
