<h1>
  Edit state #<%= @state.id %>
</h1>

<hr>

<!-- Form state start -->
<form action="/update_state/<%= @state.id %>" method="post">
<!-- Form state end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @state.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update state
  </button>
</form>

<hr>

<a href="/states">
  Go back
</a>
